body {
    position: relative;
    box-sizing: border-box;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.root-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-window {
    flex: 1 1 auto;
    position: relative;/* need this to position inner content */
    overflow-y: auto;
}

.container {
  left: 10px;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}


.column {
    margin: 0;
    padding: 0;
}

.column div {
    padding: 0;
    margin: 0;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    color: white;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

.column h3 {
    text-align: center;
}
