.toolbar {
    display: flex;
    flex: 0 0 auto;
    padding: 5px;
    justify-content: space-between;
    background-color: #d8d8d8;
}

.toolbar-right {
    /*display: flex;*/
    /*justify-content: space-between;*/
}
